.about-section {
    background-color: var(--bg-color); 
    border-radius: 80px 0 0 0; 
    padding: 100px 80px 200px 80px;
    margin-top: 0px;
    position: relative;
}


.about-tab {
    background-color: var(--bg-color);
    top: -90px; 
}

.about-container {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 60px; 
    max-width: 1100px;
    margin: 10px auto;
}

.about-image img {
    width: 350px; 
    height: auto;
}

.about-text {
    flex: 1; 
}

.about-container h2 {
    font-family: 'Sarina', cursive;
    font-size: 48px;
    margin-bottom: 20px;
}

.about-text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #333;
}