* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --bg-color: #FEF7F1; 
    --accent-green: #91EAC8; 
    --text-black: #000000;
}

a {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    overflow-x: hidden; 
  overflow-y: scroll;
  scroll-behavior: smooth;
}

html {
    background-color: var(--bg-color);
}


.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 50px;
}

.nav-contents {
    display: flex;
    gap: 30px;
    list-style: none;
    font-family: 'Sarabun', sans-serif;
    font-size: 18px;
}

.nav-contents li{
    transition: all 0.3s ease-in-out;
}

.nav-contents li:hover{
    transform: translateY(5px);
}



.home {
    text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}

#logo {
    font-family: 'Sarina', cursive;
    font-size: 32px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.social-icons a {
    display: inline-block; 
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.social-icons img {
    width: 30px;
    height: 30px;
    display: block; 
    cursor: pointer;
}

.social-icons a:hover {
    transform: translateY(-5px) rotate(5deg); 
}

.social-icons a::after {
    content: attr(data-tooltip); 
    position: absolute;
    top: 120%; 
    left: 50%;
    transform: translateX(-50%) translateY(10px); 
    
    
    background-color: #f9e74ab8;
    color: var(--text-black);
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 12px;
    font-family: Sarabun;
    white-space: nowrap; 
    
    
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    pointer-events: none; 
}

.social-icons a:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0); /* Yukarı süzülerek gelir */
}