

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    padding: 0 20px;
}

.hero-text h1{
    color: var(--text-black);
    text-align: center;
    font-family: 'Sarina', cursive;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-text p {
    position: absolute;

    color: var(--text-black);
    text-align: center;
    font-family: 'Sarabun', sans-serif;
    font-size: 24px;
    margin-top: 100px;
    margin-left: 35px;
}

.cta {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -150px;
}

.cta img {
    width: 200px;
    height: auto;
    cursor: pointer;
}

.cta img:hover {
    opacity: 0.5;
    transition: 0.5s;
}

.portrait {
    position: absolute;
    right: 50px;
    top: 450px;
    right: 100px;
}

.star {
    position: absolute;
    width: 30px; 
    height: auto;
}

.star-1 { top: 56%; left: 12%; width: 70px; } 
.star-2 { top: 63%; left: 16%; width: 50px; } 
.star-3 { top: 31%; left: 80%; width: 50px; transform: rotate(114.951deg);}              
.star-4 { top: 24%; right: 13%; width: 70px; transform: rotate(114.951deg);}  
.star-5 { top: 85%; left: 35%; width: 70px; }       