

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    padding: 0 20px;
}

.hero-text h1{
    color: var(--text-black);
    text-align: center;
    font-family: 'Sarina', cursive;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    animation: text-float 4s ease-in-out infinite;
    
}

.hero-text p {
    position: absolute;

    color: var(--text-black);
    text-align: center;
    font-family: 'Sarabun', sans-serif;
    font-size: 24px;
    margin-top: 100px;
    margin-left: 35px;
    animation: text-float 4s ease-in-out infinite;

}

.cta {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -150px;
}

.cta img {
    width: 200px;
    height: auto;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cta img:hover {
    transform: translateY(5px);
}

.portrait {
    position: absolute;
    right: 50px;
    top: 450px;
    right: 100px;
    
}

.portrait img{
    transition: all 0.3s ease-in-out;
}

.portrait img:hover {
    transform: translateY(10px);
}

.star {
    position: absolute;
    width: 30px; 
    height: auto;
    animation: float 4s ease-in-out infinite;
}

.star-1 { top: 56%; left: 12%; width: 70px; } 
.star-2 { top: 63%; left: 16%; width: 50px; } 
.star-3 { top: 31%; left: 80%; width: 50px; transform: rotate(114.951deg);}              
.star-4 { top: 24%; right: 13%; width: 70px; transform: rotate(114.951deg);}  
.star-5 { top: 85%; left: 35%; width: 70px; }       

@keyframes float {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-15px) rotate(10deg); 
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes text-float {
   0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px) ; 
    }
    100% {
        transform: translateY(0px);
    }
    
}
