:root {
    --bg-color: #FEF7F1; 
    --accent-green: #91EAC8; 
    --text-black: #000000;
}

.portfolio-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.tabs {
    display: flex;
    margin-left: auto;
}

.tab-link {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 90px 20px 40px;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    border-radius: 40px 5px 0 0; 
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    background-color: #7CDBB7;
    margin-left: -25px; 
    z-index: 1;
    text-decoration: none;
    color: black;
}


.tab-link.active {
    background-color: var(--accent-green);
    z-index: 5;
    padding-top: 35px;    
    margin-top: -15px;
}

.tab-content-wrapper {
    background-color: var(--mint-color);
    width: 100%;
    height: auto;
    min-height: 600px;
    padding: 50px 10%;
    background-color: var(--accent-green);

}

.tab-panel {
    display: none; 
    animation: fadeIn 0.5s ease;
}

.tab-panel.active {
    display: block; 

}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    padding: 20px 0;
}

.project-card {
    background: rgba(255, 255, 255, 0.3); /* Yarı şeffaf beyaz */
    border-radius: 25px;
    padding: 20px;
    border: none;
    transition: transform 0.3s ease, background 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.project-card:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.6);
}

.project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}

.project-card h3 {
    font-family: Sarabun;
    font-size: 20px;
    font-style: normal;
font-weight: 400;
line-height: normal;
    margin-bottom: 8px;
}

.project-card p {
    font-family: Sarabun;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
    opacity: 0.8;
}

.tags {
    margin-top: 10px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.tag {
    background: #7CDBB7;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 11px;
    font-weight: bold;
    font-family: Sarabun;
    color: white;

}