.wip-section {
    background-color: var(--accent-green); 
    padding: 100px 20px 80px 20px;
    position: relative;
    display: flex;
    justify-content: center;
}

.wip-tab {
    background-color: var(--accent-green);
    top: -90px;
}


#notebook-header {
    text-align: center;
    font-family: 'Sarina', cursive;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 30px;
}

#notebook-star {
    position: absolute;
    top: -20;
    left: 85%;
    width: 50px;
    height: 50px;
}

#notebook-star2 {
    position: absolute;
    top: 10px;
    right: 15%;
    width: 30px;
    height: 30px;
}

.notebook-content{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.sticky-notes {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 40px;
}

#note1{
    background-image: url("/images/yellow-sticky.png");
}

#note2{
    background-image: url("/images/pink-sticky.png");
    margin-top: 90px;
}

#note1, #note2 {
    background-size: contain;    
    background-repeat: no-repeat; 
    background-position: center;   
    width: 286px;
    height: 282px;  
      padding: 30px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}



#note1 p, #note2 p, #note1 h3, #note2 h3 {
    color: #000;
font-family: "Waiting for the Sunrise";
font-size: 32px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

#note1 h3, #note2 h3 {
    text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: 1.5px;
text-underline-offset: auto;
text-underline-position: from-font;
}